* {
    margin: 0;
    padding: 0;
    background-color: #243A50;
}

.nav {
    background-color: #243A50;
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusts the spacing */
    padding: 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

/* home page styles */

.home-page-title{
    background-color: #243A50;
    font-family: 'Luckiest Guy';
    color: #F6B33F;
    -webkit-text-stroke: .5px black; 
    padding-top: 5%;
    padding-left: 3%;

}
.home-image{
    width: 100%;
}

.home-paragraph{
    background-color: #243A50;
    font-family: 'Open Sans';
    padding-left: 3%;
    color:white;
    padding-top: 3%;

}


/* POLAROID STYLES */

.polaroid-container {
    background-color: white;
    padding: 20px; /* Adjust as needed */
    margin: 10px; /* Adjust as needed */
    width: 300px;
    height: 400px;
}

.polaroid {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* width: 100px; */
    height: 50%;
}

.polaroid-img-container {
    height: 300px;
    width: 300px;
    background-color: red;
}

.polaroid-img {
    background-color: red;
    height: 300px;
    width: 300px;
}
